[2020-02-22 15:38] krharsh17 opened #1 "Configure the attrs.xml to use 'sp' and 'dp' in xml size fields"

[2020-02-22 19:35] krharsh17 opened #2 "Allow passing an optional color hex, to generate random colors similar to it"

[2020-02-22 19:39] krharsh17 opened #3 "Add shadow behind each bar of the same color as the bar"

[2020-02-22 19:48] krharsh17 opened #4 "Allow the use of local fonts stored in target app's fonts folder in the library"
~The fonts have to be discussed with the mentors before being put into the project.~

~The ttf or otf files for each selected font has to be included in the project and an xml attribute has to be defined which can allow devs to choose from the available list of fonts.~

Use the target app's fonts in the library with the help of @FontRes annotations. Also make sure to remove the files currently sto

[2020-02-22 19:52] krharsh17 opened #5 "Convert project into kotlin"
Before submitting a PR, ensure that your code is in level with the then code in the develop branch, and also that each and every java file has been converted into kotlin.

[2020-02-22 21:34] krharsh17 opened #6 "Create 'expand' intro animation option"
Here's how the intro animation should look:

![Preview](https://i.imgur.com/ox6FmMe.gif)

Also, include an attribute to specify animation duration in ms

[2020-02-22 21:43] krharsh17 opened #7 "Remove redundant ViewUtils file"

[2020-02-22 21:44] krharsh17 opened #8 "Remove all log lines"

[2020-02-22 21:49] krharsh17 opened #9 "Replace all inline static occurences of default values for variables with static variables, which have to be defined in a separate interface named Constants"
For example in such a case
[code]
Replace the static string "#424242" with a static string variable declared in a seperate interface by the name `Constants`

[2020-02-22 21:52] krharsh17 opened #10 "Improve the sample app to allow testing the customization attributes of the library"
Try implementing the sample app similar to this:

![Preview](https://github.com/lopspower/CircularProgressBar/raw/master/preview/preview.gif)
(Taken from https://github.com/lopspower/CircularProgressBar)

[2020-02-22 22:00] krharsh17 opened #11 "Add gradient background option attribute"
Add an attribute and a field in the BarView class to generate and put gradient backgrounds for bars

[2020-02-22 22:03] krharsh17 opened #12 "[BUG] Configure the width of the bars so that they fit inside the screen even at max length"
Currently, on some screens, the width of the bar exceeds the screen width, due to which the values are not visible on the screen

[2020-02-22 22:05] krharsh17 opened #13 "Create an option to set the corner radius of the value tooltips"

[2020-02-23 03:03] Sourish-Mukherjee commented on #11
Is it going to be like a random gradient colour for the bar or like is it upon the choice of the user? #GSSOC20

[2020-02-23 03:13] Sourish-Mukherjee commented on #9
So basically we need to create an **Interface** for defining all the constants and instead use the interface's variable instead of direct constants? #GSSOC20

[2020-02-23 08:22] krharsh17 commented on #9
@Sourish-Mukherjee Yes exactly

[2020-02-23 08:24] krharsh17 commented on #11
@Sourish-Mukherjee Currently a solid random colour is being generated and applied to the bar, you need to put a flag attribute first, which determines whether a solid or a gradient background will be applied. In the gradient option, you need to alter the code in such a way that two very close yet distinct random colours are generated and a gradient drawable made out of them is set as the backgroun

[2020-02-23 17:13] Medhavi-16 commented on #8
I am interested in doing this.

[2020-02-23 17:36] krharsh17 commented on #8
Okay. I'll assign this to you. But make sure to create a PR after 1st March so that it can get counted in GSSoC.

[2020-02-24 09:29] rajkothari634 commented on #11
i want to work on this

[2020-02-24 13:19] rajkothari634 commented on #3
i want to work on it

[2020-02-24 13:20] parthsharma07 commented on #6
I want to work on this issue. Please assign it to me.

[2020-02-24 13:20] prince-09 commented on #4
I want to work on it.

[2020-02-24 13:25] parthsharma07 commented on #13
I want to work on this issue. Please assign it to me.

[2020-02-24 13:59] RaghavAwasthi commented on #5
Hey can you assign me on this

[2020-02-24 15:47] krharsh17 commented on #5
Sure

[2020-02-24 15:48] krharsh17 commented on #13
This is for phase 2. It will be assigned once phase 1 is complete.

[2020-02-24 15:48] krharsh17 commented on #6
Sure

[2020-02-24 15:49] krharsh17 commented on #4
Sure. Just discuss over this with the mentors before beginning

[2020-02-24 15:50] krharsh17 commented on #3
Okay, I'll assign this to you

[2020-02-24 16:20] DarthBenro008 commented on #12
I would like to work on this.

[2020-02-24 17:10] krharsh17 commented on #12
Alright

[2020-02-25 05:57] shreyasrivastava936 commented on #8
Hi! I would like to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-25 05:58] shreyasrivastava936 commented on #1
Hi! I would like to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-25 09:16] krharsh17 commented on #1
Sure

[2020-02-25 09:33] rasacharjee commented on #9
I want to take the issue

[2020-02-25 09:39] rasacharjee commented on #7
I want to take the issue

[2020-02-25 12:07] VibhorChinda commented on #2
Hii @krharsh17 i want to work on this issue. Can you please assign this to me.

[2020-02-25 12:54] Sourish-Mukherjee commented on #9
Will be a good experience for me, I want to take the issue

[2020-02-25 14:21] Samriddhi25 commented on #10
I want to take this issue.

[2020-02-25 17:03] krharsh17 commented on #10
Okay. I'll assign it to you.

[2020-02-25 17:04] krharsh17 commented on #7
Alright

[2020-02-25 19:28] raksha009 commented on #8
Hii! What are log lines !?

[2020-02-26 06:57] rohg007 commented on #3
Can I work on this?

[2020-02-26 13:33] krharsh17 commented on #9
I'll assign this to @Sourish-Mukherjee as #7 is already assigned to @rasacharjee

[2020-02-26 13:34] krharsh17 commented on #2
Sure

[2020-02-26 13:35] krharsh17 commented on #10
I just had a look at it. This is for PHASE 2, it will be assigned once PHASE 1 is complete. My apologies 🙇🏻

[2020-02-26 23:16] VaishSiddharth commented on #12
@DarthBenro008 Still working on this?? @krharsh17  Can I work on this if @DarthBenro008 allows?

[2020-02-27 10:50] DarthBenro008 commented on #12
@VaishSiddharth i am working on this and i will be submitting the PR after March 1 2020 , as this project is included in GSSoC 20

[2020-02-28 18:12] 8426988382 commented on #12
@DarthBenro008  can i work on this?

[2020-02-29 12:40] rasacharjee commented on #7
There are no active usages of ViewUtils class . One usage present in BarView class is commented. I think  I can delete the  ViewUtils class

[2020-02-29 17:18] akshaydhiran commented on #8
I am interested in working on this issue.

[2020-02-29 18:41] krharsh17 commented on #8
This issue is already assigned to a participant currently

[2020-02-29 20:05] VibhorChinda commented on #2
@krharsh17 can you please provide an explanation of exactly what this enhancement talks about ?
Like what i understood after reading the code for library is that it is generating background colour randomly.

Do you want that i should provide a new field in the barModel named as optional background colour ??

And if yes then when should be that colour be used ??

Some help would be great.

[2020-03-01 07:09] #9 closed, assigned to Sourish-Mukherjee

[2020-03-01 07:18] #7 closed, assigned to rasacharjee

[2020-03-01 08:52] krharsh17 opened #22 "Add a listener for click event on bars"
The user should be able to attach the listener by calling `barViewObject.addOnClickListener()` and the listener should have an argument `index` which would contain the index of the bar that has been clicked.

[2020-03-01 08:59] RaghavAwasthi commented on #22
Hey can you assign me on this

[2020-03-01 09:05] krharsh17 commented on #22
Sure!

[2020-03-01 09:07] krharsh17 opened #23 "Option to set a background color for the entire barview"
Include an attribute in the xml tag of the library to directly specify a background colour. Alternatively, define a `setBackgroundColor(Color color)` function in the library to allow dynamic modification of the background color.

[2020-03-01 09:13] krharsh17 opened #24 "[DOCUMENTATION] Write proper documentation for all library functions"

[2020-03-01 09:16] krharsh17 opened #25 "Define setter & getter functions for all propery fields in the barview class"
Define appropriate public setters/getters for these fields
[code]

[2020-03-01 09:26] krharsh17 opened #26 "Prepare a debug build of the sample app and store it in a demo-apk folder in the root of the repo"
Also, update the readme.md with a link directly to this apk

[2020-03-01 09:29] krharsh17 opened #27 "Define setters/getters for all fields in BarModel.java"

[2020-03-01 10:54] RaghavAwasthi opened #28 "[BUG] Crash due to missing '#' in Constants.java"
**Describe the bug**
The current version of the Android app is crashing on Launch

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app on Android device
2. See the app crashing

**Expected behavior**
The app should show the current implementation of Bar View

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/24982437/75624227-89222000-5bd8-11ea-8924-c501159bbaad.

[2020-03-01 11:00] krharsh17 commented on #28
Could you please share the stack trace here?

[2020-03-01 11:06] RaghavAwasthi commented on #28
@krharsh17  I was able to fix it. The issue was with `Constants.java` file in that the colour resource was not preceded by '#'.

[2020-03-01 11:08] krharsh17 commented on #28
Alright. Good job!

[2020-03-01 11:17] #28 closed, assigned to RaghavAwasthi

[2020-03-01 12:37] Rohittt728 commented on #27
Hey! I have a raised a PR for this issue.

[2020-03-01 12:46] BhuwanChandra commented on #23
@krharsh17 I would like to work on it.

[2020-03-01 12:59] sumanthst24 commented on #25
I would like to work on this issue if assigned

[2020-03-01 13:03] sumanthst24 commented on #26
I would like to work on this issue

[2020-03-01 13:33] dino-saurabh commented on #25
I would work on this issue

[2020-03-01 13:38] dino-saurabh commented on #24
Can you please provide some description and scope !!.

[2020-03-01 13:55] krharsh17 commented on #27
Please get an issue assigned to yourself before raising a PR. This will let others know you're working on the issue.

[2020-03-01 13:58] krharsh17 commented on #24
There are a few functions and variables defined throughout the library module. You need to write documentation for those. You can refer to [this](https://www.spiria.com/en/blog/method-and-best-practices/how-document-java-code/) to know more about how to write documentation for java.

[2020-03-01 14:00] krharsh17 commented on #23
@BhuwanChandra I've assigned it to you

[2020-03-01 14:01] Rohittt728 commented on #27
Sure. Thanks.

[2020-03-01 14:02] sumanthst24 commented on #26
I submitted a PR regarding this issue

[2020-03-01 14:12] #27 closed, assigned to Rohittt728

[2020-03-01 14:24] rasacharjee commented on #24
I want to work on the issue

[2020-03-01 14:35] #26 closed, assigned to sumanthst24

[2020-03-01 19:57] dino-saurabh commented on #24
Mee too😅!!

[2020-03-01 20:48] Medhavi-16 commented on #1
I would like to work on this.

[2020-03-01 23:43] Sourish-Mukherjee commented on #11
@krharsh17 this flag attribute, few clarifications required :

1 - Will the flag attribute be set through any button, like for suppose seekbar? If enabled, then bar will change from solid color to gradient.
2 -If yes then where will the option be provided?
3 -Graident clarification
   3.1       - I suppose you are saying the two colours for gradient, start color and end color has

[2020-03-02 03:32] #8 closed, assigned to Medhavi-16

[2020-03-02 04:44] Alaska18 opened #34 "Making Rounded Corners for the Bars instead of keeping them square."

[2020-03-02 04:59] Meghdut-Mandal commented on #34
I want to work on this issue

[2020-03-02 06:24] krharsh17 commented on #34
@Alaska18 Next time when you're opening an issue, make sure that you clearly specify in the description whether you want to work on that issue or not. Since you've already raised a PR for it, I'm going to assign it to you this time. But from the next time, if you do not get an issue assigned to yourself before raising a PR, your PR will be ignored and the issue will be assigned to the first person

[2020-03-02 06:31] krharsh17 opened #36 "Replace the dummy sample values in the app module with something more trivial or random"
Currently, six Indian names have been used as labels, replace them with any other generic data. Also, update the screenshot of the app in the README.md under the 'Current Progress' section with the new data.

[2020-03-02 07:10] Sourish-Mukherjee commented on #36
I would like to take this issue

[2020-03-02 07:15] sg28march opened #37 "bar-android does not have splash screen"
**Is your feature request related to a problem? Please describe.**
 No
**Describe the solution you'd like**
A splash screen can be added to improve the first user experience with the app.

[2020-03-02 07:16] sg28march commented on #37
I want to work on this issue

[2020-03-02 07:18] krharsh17 commented on #37
Where exactly do you want to put a splash screen?

[2020-03-02 07:22] sg28march commented on #37
when the app starts splash screen will be displayed for few seconds and then the main layout will be
displayed .

[2020-03-02 07:32] krharsh17 commented on #37
I don't think that's needed for a library project. So I'm gonna have to close this one.

[2020-03-02 07:32] #37 closed, assigned to nobody

[2020-03-02 11:13] vinay2214 commented on #23
I would like to work on it

[2020-03-02 12:22] krharsh17 commented on #23
@vinay2214 I've already assigned it to @BhuwanChandra

[2020-03-02 12:26] #36 closed, assigned to Sourish-Mukherjee

[2020-03-02 12:26] vinay2214 commented on #1
I would like to work on this

[2020-03-02 12:27] vinay2214 commented on #34
I would like to work on it

[2020-03-02 14:30] Angelvicks commented on #24
Please i will like to work on this isssue

[2020-03-02 14:42] RaghavAwasthi opened #41 "Automatically Building and Updating Sample APK"
**Is your feature request related to a problem? Please describe.**
It would be good if we Rebuild an APK on every merge into the Develop branch and Master Branch.
This way it would be easy for user to test the application without having any hassle.

**Describe the solution you'd like**
We can use the Automatic Code Building by CI/CD Pipelines to build a development APK and push it to the APK Branc

[2020-03-02 16:21] ParichayDey8 commented on #24
I want to work on this issue

[2020-03-02 16:40] Akansha2202 commented on #24
i want to work on this issue

[2020-03-02 17:29] krharsh17 commented on #24
Since this is a beginner-friendly issue, and @LuGO0 & @rasacharjee have already gotten a chance, so I'm gonna assign it to @Angelvicks who can make good use of this issue to start their open source journey. I hope you guys don't mind😄 More issues will be coming soon ✌️

[2020-03-02 17:31] krharsh17 commented on #24
This same issue will be raised again at the end of this month to update the documentation and will be raised once every month till the end of GSSoC, so others can take it up then.

[2020-03-02 17:45] krharsh17 commented on #41
I was looking for someone who could do this😅

[2020-03-02 20:06] Angelvicks commented on #24
Ok thanks @krharsh17 am working on it

[2020-03-02 20:07] Angelvicks commented on #24
Please what is the deadline to submit the documentation?

[2020-03-03 16:29] 8426988382 commented on #34
I would like to work on this issue.

[2020-03-03 16:31] 8426988382 commented on #41
I would like to work on this.

[2020-03-03 16:34] 8426988382 commented on #6
I would like to work on this. @krharsh17  Please assign it to me.

[2020-03-03 16:35] 8426988382 commented on #3
@krharsh17 ,I would like to work on this.

[2020-03-03 17:37] ranjal007 commented on #22
I need to work on this issue. Please assign it to me.

[2020-03-03 17:38] ranjal007 commented on #3
I need to work on this issue. Please assign it to me.

[2020-03-04 06:09] Akansha2202 commented on #34
i would like to work on this issue.

[2020-03-04 11:03] meghaa105 commented on #22
I would like to work on this issue

[2020-03-04 11:03] meghaa105 commented on #1
Can you please assign this to me?

[2020-03-04 13:43] #25 closed, assigned to dino-saurabh

[2020-03-04 17:27] RaghavAwasthi commented on #22
I am already assigned to this one and most of the work is done

On Wed, Mar 4, 2020, 4:33 PM Megha Agarwal <notifications@github.com> wrote:

[2020-03-05 12:49] #12 closed, assigned to DarthBenro008

[2020-03-05 13:55] RaghavAwasthi commented on #41
I am already working on this

[2020-03-05 14:01] #22 closed, assigned to RaghavAwasthi

[2020-03-08 14:06] Riyagoel2 commented on #24
I also want to work on this issue @krharsh17

[2020-03-08 14:25] dino-saurabh opened #49 "Incorporating constants in the strings.xml file"
**Is your feature request related to a problem? Please describe.**
Refactoring the constants.java file

**Describe the solution you'd like**
Incorporating all the constants frim the constants.java file to the strings.xml file

[2020-03-08 15:10] #34 closed, assigned to Alaska18

[2020-03-08 15:46] krharsh17 commented on #49
I'm not very convinced that we need to do this right now. I'll suggest that we wait until the end of the first or second phase to see how the `Constants.java` file grows, and if it is small enough, we'll go forward with this.

[2020-03-08 15:46] dino-saurabh commented on #49
Sure !!

[2020-03-09 15:17] prince-09 opened #50 "Allow the use of local colors of app in color.xml folder of app."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

We should allow users to use the local colors from the color.xml folder of the app.
A clear and concise description of any alternative soluti

[2020-03-09 15:18] prince-09 commented on #50
Can I work on this issue?

[2020-03-10 07:04] saumya1singh commented on #50
Hey @prince-09  ! Can you clearly describe the issue ? Do you want to add some particular colors in color.xml that should be used everytime ?

[2020-03-10 08:17] krharsh17 commented on #1
@Medhavi-16 what's the status on this?

[2020-03-10 08:17] krharsh17 commented on #1
@shreyasrivastava936 What's the status on this?

[2020-03-10 17:55] krharsh17 commented on #2
@VibhorChinda You have to make an additional field in the attrs.xml to allow the user to input a colour, and if the user enters one, then you have to generate random colours around it. For example if someone enters #FF0000, then the random colours that the current `getRandomColor()` function generates must be close to red. `getRandomColor()` is defined in `BarView.java`. If the user does not enter

[2020-03-10 17:58] #23 closed, assigned to BhuwanChandra

[2020-03-11 01:38] dino-saurabh commented on #41
@RaghavAwasthi please share the progres with us here . would love to know how this works !!

[2020-03-11 17:04] #4 closed, assigned to prince-09

[2020-03-11 18:32] RaghavAwasthi commented on #41
You can have a look on autobuild branch on my Fork

On Wed, Mar 11, 2020, 7:08 AM Saurabh kumar <notifications@github.com>
wrote:

[2020-03-12 13:01] dino-saurabh commented on #3
@rajkothari634 are you still working on this ??

[2020-03-12 16:28] vikasgola commented on #24
@Angelvicks update your progress here.

[2020-03-12 16:32] vikasgola commented on #3
@rajkothari634 Update your progress here.

[2020-03-12 16:36] ranjal007 commented on #3
I need to work on this issue . please assign it to me for GSSOC 20

[2020-03-12 16:41] vikasgola commented on #3
@ranjal007, let @rajkothari634 provide update on the issue who has been assigned. In case, there is no progress, you may be assigned.

[2020-03-12 16:43] ranjal007 commented on #3
Okay I will be waiting for it.

[2020-03-12 17:11] Angelvicks commented on #24
I received details on my work by @krharsh17 so am working on it.

[2020-03-13 02:29] prince-09 commented on #50
Yes If user has some colours in color.xml then he should be able to choose that colour by @color/xyz like we have in text view or edittext.

[2020-03-13 06:16] dino-saurabh commented on #41
Oook would love to !!

[2020-03-13 09:30] krharsh17 commented on #50
Isn't it possible with the current code in the library?

[2020-03-13 10:24] #6 closed, assigned to parthsharma07

[2020-03-13 10:49] RaghavAwasthi opened #51 "Feature: Automatic Bumping of Dependencies"
**Is your feature request related to a problem? Please describe.**
We need to have automatic Dependency Upgrading tool activated to facilitate better feature updates offered by newer versions of Library

**Describe the solution you'd like**
We need to enable a program called Dependabot available in Github MarketPlace
https://github.com/marketplace/dependabot-preview

[2020-03-13 16:13] ShivangiSingh17 commented on #51
Go ahead @RaghavAwasthi

[2020-03-15 11:38] prince-09 commented on #50
no, it is not possible with the current code.

[2020-03-15 16:36] #51 closed, assigned to RaghavAwasthi

[2020-03-15 16:38] krharsh17 commented on #24
@Angelvicks How much more time are going to need for this?

[2020-03-15 16:38] krharsh17 commented on #2
@VibhorChinda What's the status on this?

[2020-03-15 16:39] krharsh17 commented on #1
Its been too long since there's been activity on this, so I'm gonna have to unassign @shreyasrivastava936

[2020-03-15 16:44] parthsharma07 commented on #1
Please assign it to me. I would like to work on this.

[2020-03-16 02:21] Sourish-Mukherjee commented on #2
I would like to work on this issue, if there are no updates.

[2020-03-16 04:55] VibhorChinda commented on #2
I am working on it and will soon send a PR. Sorry for late response was busy with university exams but now i am free.

[2020-03-17 05:59] Alaska18 opened #54 "Delete a Bar on Long Click after showing an Alert Dialogue."
**Describe the solution you'd like**
A bar will get deleted by clicking on "yes" in an Alert dialogue Box which will appear after long Click on the selected Bar.
I want to work on this issue.

[2020-03-17 14:15] #1 closed, assigned to parthsharma07

[2020-03-17 18:11] ShivangiSingh17 commented on #54
Go Ahead @Alaska18!!

[2020-03-17 18:20] rajkothari634 commented on #3
@ranjal007 I have completed my work I just need to do some customisation and I will create pull request it will take 2 days maximum.

[2020-03-17 19:06] Angelvicks commented on #24
I am sorry for taking long. @krharsh17  I will unassign myself

[2020-03-18 08:22] Alaska18 opened #55 "App Crashing if setCornerRadius is written before setData method."
I want to work on this.

[2020-03-19 14:55] RaghavAwasthi opened #58 "Migrate to Travis CI"
**Is your feature request related to a problem? Please describe.**
In order to ease the development workflow. It would be more convenient if we moved to Travis CI.
I will be working on this issue

[2020-03-19 20:06] dino-saurabh commented on #24
Can I get this @krharsh17 I had the first comment on this thread😀

[2020-03-20 07:07] Alaska18 opened #61 "App Crashing while executing Typeface.get Method."
**Describe the bug**
The App is crashing while executing Typeface.get Method because of Null Pointer.
I want to work on this.

[2020-03-20 08:16] #58 closed, assigned to nobody

[2020-03-20 09:38] #55 closed, assigned to Alaska18

[2020-03-21 09:39] sidhuparas commented on #24
@LuGO0 Go ahead :) Be sure to communicate with us on Slack for the documentation format.

[2020-03-22 09:53] dino-saurabh commented on #24
As @krharsh17  had insisted I will use [this](https://www.spiria.com/en/blog/method-and-best-practices/how-document-java-code/) as a convention.

[2020-03-25 06:03] saumya1singh commented on #50
@prince-09 so basically you want to add some hex codes of colors in color.xml file?
I am not sure if I got your point correctly?
cc @krharsh17

[2020-03-25 06:04] saumya1singh commented on #50
Clarify the issue here and if seems good it will be assigned to you! @prince-09

[2020-03-25 06:07] #61 closed, assigned to Alaska18

[2020-03-25 06:36] Aman-Codes opened #66 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@krharsh17  As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project. Using [this]( https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) as a reference.

**Additional context**
### Screenshots

![code of conduc

[2020-03-25 07:08] krharsh17 commented on #66
Sure, go ahead!

[2020-03-25 15:37] Aman-Codes commented on #66
@krharsh17  Sir can you please share your email id which I can add in this file where participants can report unacceptable behavior .

[2020-03-25 15:47] #3 closed, assigned to rajkothari634

[2020-03-25 17:11] krharsh17 commented on #66
Sure, please use kharsh39@gmail.com

[2020-03-25 17:13] krharsh17 commented on #50
Yeah, I too don't seem to fully understand the issue, maybe some examples might help? @prince-09

[2020-03-25 17:20] Aman-Codes commented on #66
@krharsh17 Thank you sir, made the pull request.

[2020-03-25 19:09] prince-09 commented on #50
![Screenshot (190)](https://user-images.githubusercontent.com/52371330/77575696-f08e6f80-6ef9-11ea-80a1-8bd0d720f4a5.png)
![Screenshot (191)](https://user-images.githubusercontent.com/52371330/77575702-f421f680-6ef9-11ea-8508-b3ca304e5db5.png)
In background attribute we have @color/colorPrimary option... but we are not getting it in labelTextcolor attribute.

[2020-03-26 12:20] LuGO0 commented on #2
@krharsh17  can I take this one up if @VibhorChinda  is not continuing on this .

[2020-03-26 13:44] #66 closed, assigned to Aman-Codes

[2020-03-26 13:46] krharsh17 commented on #50
Alright, please make a fix for it!

[2020-03-26 13:47] krharsh17 commented on #2
@VibhorChinda what's the status on this?

[2020-03-26 13:58] Aman-Codes opened #70 "Add Pull Request Template"
**Is your feature request related to a problem? Please describe.**
Currently no pull request template is available in this project.

**Describe the solution you'd like**
@krharsh17 I am a GSSOC participant and I would like to add a pull_request_template.md file in this project.

**Additional context**
## Screenshots
### Pull request
![pull request](https://user-images.githubusercontent.com/5468070

[2020-03-26 14:43] krharsh17 commented on #70
Sure, please go ahead✌🏻

[2020-03-26 15:01] dino-saurabh opened #73 "Being able to drag and adjust the order in which the bars appear in the BarView"
**Is your feature request related to a problem? Please describe.**
we arent able to drag and adjust the position of bars in the barView currently
**Describe the solution you'd like**
If we long press and then drag we should be able to adjust the position of the bars in the barView

[2020-03-26 15:03] dino-saurabh commented on #70
@krharsh17 I guess we should have a template but it should be reasonable and not which anybody wont fill out !! we should consider removing some options from the current proposed template!!

[2020-03-26 15:05] dino-saurabh commented on #54
@Alaska18 would you please implement the delete action using the swipe gesture instead of long press !! because I feel long press is used in most of the apps for like adjustment #73

[2020-03-26 15:18] Aman-Codes commented on #70
@LuGO0 Thanks for your valuable feedback. Would love to know which options do you want to remove ?
I think proposed changes and types of changes should not cause a problem.
Screenshots and other information section can be optional for participants to add if they wish to.
Checklist was added just to ensure that the participants review their changes properly before making a pull request. Thus it may

[2020-03-26 18:37] Alaska18 commented on #54
Thanks for the feedback! I will consider this.

[2020-03-27 06:28] Alaska18 opened #74 "Adding Highlight and Fade option in the Alert Dialogue to Highlight and Fade the bars."
Using radio buttons for adding options to highlight and fade the bars in the Alert Dialogue.
I want to work on this.

[2020-03-27 11:57] krharsh17 commented on #73
This is a nice idea actually. But it would clash with #54 & #74 as all of these will be based on long clicks. Can you come up with something to avoid that? I'd love to have both the features in the repo 😄

[2020-03-27 12:14] dino-saurabh commented on #73
@krharsh17 I have requested @Alaska18  to use swipe action for deletion since that would be more apt for deletion rather than adjustment 🙂

[2020-03-27 12:17] #41 closed, assigned to RaghavAwasthi

[2020-03-27 12:29] krharsh17 commented on #73
Well, for her set of features, there has to be a context menu that opens first, and then the user is allowed to choose from a list of options to either delete, fade or highlight a specific bar. Context menus are conventionally put on long-press events, so you'll have to think of a different approach for this.

[2020-03-27 14:32] dino-saurabh commented on #73
Suggest me something ,I will also be looking for something that will work!!

[2020-03-27 14:35] dino-saurabh commented on #73
Maybe add an option to swap pieces together in @Alaska18 's context menu and then implement this feature with a confirm button at the end of the workflow

[2020-03-27 14:40] krharsh17 opened #76 "Replace AppVeyor CI badge with Travis CI badge in README"
Here's the new badge:
[code]

[2020-03-27 15:30] krharsh17 commented on #73
Yup, that's a good way to do it. If you can come up with something till tomorrow, we'll consider that tomorrow, or if not, you can begin working on this. @SaumyaSingh1 @ShivangiSingh17 @samagragupta @vikasgola @sidhuparas Your suggestions would be helpful on this 🙂

[2020-03-27 16:13] chrischongyj commented on #76
I'll work on this

[2020-03-27 19:47] #76 closed, assigned to chrischongyj

[2020-03-27 20:48] dino-saurabh commented on #2
can I take it up?? @krharsh17

[2020-03-28 13:32] #70 closed, assigned to nobody

[2020-03-28 20:36] #24 closed, assigned to dino-saurabh

[2020-03-28 20:41] krharsh17 commented on #2
This has been inactive for too long. I'm afraid I'll have to reassign this now.

[2020-03-29 10:54] dino-saurabh commented on #73
![Screenshot_2020-03-29-16-22-33-316_com gg2 android apps youtube music](https://user-images.githubusercontent.com/30355336/77847279-a519e100-71d9-11ea-8b8b-3f6d7f424c03.jpg)
@krharsh17  something like this maybe having something to drag and adjust rows??

[2020-03-29 11:00] sidhuparas commented on #73
@LuGO0 I was thinking about this drag and drop button just as you shown, but our app is a library so how can we place some kind of Edit button to show these drag buttons?

[2020-03-29 11:24] dino-saurabh commented on #73
@sidhuparas what should we do for this reshuffling then any ideas!! Would love to hear em

[2020-03-30 04:35] saumya1singh commented on #73
@LuGO0 ! Thankyou for putting your efforts 💯

I really loved your idea❤ I think the best way of tackling this is to show a context menu on long press as @krharsh17  suggested ✔

As said by @krharsh17 -
`context menu that opens first, and then the user is allowed to choose from a list of options to either delete, fade or highlight a specific bar`

[2020-03-30 05:01] sidhuparas commented on #73
@LuGO0 We might have to reconsider if dragging should be a feature since it might not fit our UI/UX. Do you have some strong reasons to implement this?

[2020-03-30 05:26] Alaska18 commented on #73
@LuGO0 I have a suggestion. When the user long clicks on the bar a menu will open up to select highlight fade or delete and when the user long clicks on label they can move they will he able to drag the bars.

[2020-03-30 08:26] dino-saurabh commented on #73
@Alaska18 got your Idea but how do we confirm our reshuffled bars once we are done with adjustments ??

[2020-03-30 09:30] Alaska18 commented on #73
@LuGO0 I can suggest adding a checkbox to the side or at the bottom of whole barview. This checkbox will appear when the user long clicks the label of any bar and when the user is done rearranging the bars, He/she can check the checkbox after which the bars will get rearranged according to the user.

[2020-03-30 09:32] Alaska18 commented on #73
A text can be written next to the checkbox like "okay" or "done".:)

[2020-03-30 10:42] krharsh17 commented on #73
This sounds good to me 👍🏻 Also, you could consider adding a 're-order' option in the menu to keep things simple and obvious.

For apps that provide a top-level app bar, it'd be better if this confirm button could be integrated in it. [Here's](https://stackoverflow.com/questions/24567922/add-custom-actionbar-in-button-dynamically-in-android) a reference on how to achieve that. I am not sure how you

[2020-03-30 10:59] dino-saurabh commented on #73
Thanks everybody for suggestions I will start working on this now !!

[2020-03-30 16:58] Akansha2202 commented on #5
Can you please assign me this

[2020-03-30 16:59] Akansha2202 commented on #54
I would like to work on it

[2020-03-31 09:12] jamesjose03 opened #80 "Add TOC to README.md"
**Is your feature request related to a problem? Please describe.**
Currently, the README is quite long and there is no TOC.

**Describe the solution you'd like**
A TOC will help provide easier navigation through the README.

**Describe alternatives you've considered**
N/A

**Additional context**
Screenshot:
![image](https://user-images.githubusercontent.com/31133182/78008829-c99ec600-735d-11ea-868

[2020-03-31 09:13] jamesjose03 commented on #80
I am a GSSOC participant. I would like to work on this issue. Pls assign this issue to me.

[2020-03-31 14:26] srijande commented on #54
assign me

[2020-04-01 09:23] krharsh17 commented on #50
What's the status on this @prince-09 ?

[2020-04-01 09:24] krharsh17 commented on #13
@parthsharma07 please submit a PR as soon as possible

[2020-04-01 09:25] krharsh17 commented on #10
@Samriddhi25 Do you still want to work on this?

[2020-04-01 17:21] Samriddhi25 commented on #10
yes

[2020-04-02 13:22] #80 closed, assigned to jamesjose03

[2020-04-03 17:45] parthsharma07 commented on #13
I have started working on this issue and it will take a few days for me to submit a PR on this issue. Please Consider it.

[2020-04-03 18:46] Sourish-Mukherjee commented on #11
Can we work on this ?

[2020-04-05 16:25] krharsh17 commented on #13
Alright

[2020-04-05 16:33] krharsh17 opened #84 "Improve code quality"
The current quality rating of the codebase is `B`. Make changes to the repo to make it reach `A`. Please go through [this](https://app.codacy.com/manual/kharsh39/barview-android/issues/index) to know what changes would help.

[2020-04-05 18:44] dino-saurabh commented on #84
Can I take this up @krharsh17

[2020-04-05 20:40] DarthBenro008 commented on #84
Can i also work on this? @krharsh17

[2020-04-05 20:51] krharsh17 commented on #84
Alright, I'll assign you two. We still have room for one more assignee.

[2020-04-06 03:35] Sourish-Mukherjee commented on #84
I will work on this also

[2020-04-06 09:01] rasacharjee commented on #11
I also want to work on this

[2020-04-06 15:19] #50 closed, assigned to prince-09

[2020-04-08 08:13] Sapna2001 opened #87 "Update Readme"
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 08:23] krharsh17 commented on #87
Could you please list the details that you would like to add to the README here first?

[2020-04-08 08:31] Sapna2001 commented on #87
I would like to add the following details:-
1. Tech stacks used.
2. Details of mentors and admin with their Github and LinkedIn URL.
3.The vision of the project.

[2020-04-16 14:33] spacemonkey1101 commented on #87
Hello
- I would like to add useful links for setting up android and basics of github
-System Requirements

[2020-04-18 02:46] spacemonkey1101 opened #88 "Update Readme"
Add the system requirements for running the app and add a tutorial link for installing android.

[2020-04-18 15:46] saumya1singh commented on #88
Hey @spacemonkey1101, I have assigned the task to you! Make sure to follow the issue temp :)

[2020-04-18 15:49] saumya1singh commented on #88
@krharsh17 Kindly double check if you need these features in the readme.

[2020-04-18 17:55] #2 closed, assigned to dino-saurabh

[2020-04-18 17:56] krharsh17 commented on #88
@spacemonkey1101 Please post the changes that you wish to make in the README here before creating a PR.

[2020-04-18 18:00] krharsh17 commented on #87
@Sapna2001 Actually a project of this kind does not need to have the details that you have mentioned, so I'll have to close this issue. You can always look for bugs in the current code, or suggest new features for the library 🙂

[2020-04-18 18:00] #87 closed, assigned to nobody

[2020-04-18 18:01] krharsh17 commented on #73
@LuGO0 What's the status on this?

[2020-04-18 18:01] krharsh17 commented on #10
@Samriddhi25 any updates?

[2020-04-18 18:07] krharsh17 commented on #11
@Sourish-Mukherjee

2 -If yes then where will the option be provided?

Yes there has to be an xml attribute as well as a java setter for it

3.1 - I suppose you are saying the two colours for gradient, start color and end color has
to be nearly similar yet different enough right?
3.2 - This should be generated randomly for all the bars right?

Yes

color right?

no two bars should have nearly the

[2020-04-18 18:07] krharsh17 commented on #11
@Sourish-Mukherjee since you were the first claimant, are you willing to work on this?

[2020-04-18 19:46] dino-saurabh commented on #73
Yeah @krharsh17  I was busy with the other PRs now that they are merged I'll continue my work on this :)

[2020-04-18 19:48] dino-saurabh commented on #11
I can work on this if he doesn't want to !!

[2020-04-18 20:08] Sourish-Mukherjee commented on #11
I won't be able to due to unavailability of laptop

[2020-04-19 16:15] Samriddhi25 commented on #10
@krharsh17 just give me a few more day

[2020-04-20 11:21] rasacharjee commented on #11
I would love to work if @Sourish-Mukherjee is unable to work

[2020-04-20 12:23] krharsh17 commented on #11
I'll assign this to @rasacharjee . @LuGO0 You already have an issue assigned to you

[2020-04-27 13:09] #54 closed, assigned to Alaska18

[2020-04-27 13:10] #74 closed, assigned to Alaska18

[2020-04-28 08:12] Aman-Codes opened #89 "Broken link in the contributing.md file"
**Describe the bug**
The link to .appveyor.yml is broken link in the contributing.md file. As a GSSOC participant I would like to update it.

[2020-04-29 08:44] sidhuparas commented on #89
Hi there, how will you fix it?

[2020-04-29 11:14] Aman-Codes commented on #89
I am thinking of removing that line as currently there is no .appveyor.yml file in the repository. It can be added later once the file is created.

[2020-04-29 11:41] sidhuparas commented on #89
Well, I think @krharsh17 can specify more accurately if that line has to be removed or other changes need to be made.

[2020-04-29 11:48] krharsh17 commented on #89
I don't think we should remove that. It had to be updated when we shifted from AppVeyor to Travis, but was missed. We'll have to use https://github.com/krharsh17/barview-android/blob/develop/.travis.yml there. Thanks @Aman-Codes for pointing it out.

[2020-04-29 11:49] krharsh17 commented on #89
Also, @Aman-Codes instead of making a PR just for one single change, I'll suggest that you go through all the doc files thoroughly and fix all broken links/typos/wrong content and then make a PR.

[2020-04-29 12:10] sidhuparas commented on #84
What's the current status of this? @DarthBenro008 @Sourish-Mukherjee

The current rating is still B. We would love to take it to A. Are you guys working on this?

[2020-04-29 12:12] Aman-Codes commented on #89
Found a typo in contributing.md in the app section the name of project should be barview
![Screenshot_20200429-173739_1](https://user-images.githubusercontent.com/54680709/80594480-b22c2900-8a40-11ea-8dea-da39bfd11b08.jpg)

[2020-04-29 12:19] sidhuparas commented on #89
@Aman-Codes Cool. See if you can find more. Make a PR when your search completes.

[2020-04-29 12:51] Sourish-Mukherjee commented on #84
As I said in one of the issues, my laptop isn't working. So Forward it to someone else this issue.

[2020-04-29 13:45] Aman-Codes commented on #89
I think it would be nice if we add a link to Gssoc site in readme.md
![Screenshot_20200429-180107_1](https://user-images.githubusercontent.com/54680709/80603119-9bd89a00-8a4d-11ea-8019-82f9455de500.jpg)
@krharsh17 @sidhuparas what are your views?

[2020-04-29 14:29] sidhuparas commented on #89
@Aman-Codes Yeah, it's do-able.

[2020-04-29 14:58] Aman-Codes commented on #89
@sidhuparas @krharsh17 I have made a pull request please review it.

[2020-04-30 16:56] sidhuparas commented on #89
@Aman-Codes, give me some time. I will review on this weekend.

[2020-05-01 17:49] spacemonkey1101 commented on #88
Hello @krharsh17 and @SaumyaSingh1 , first of all I would like to apologize for not being able to comment here earlier.

I would like to add  these things:-

Learning Resources
- https://developer.android.com/studio/install
- https://try.github.io/

System Requirements
- Git
- Android Studio

[2020-05-02 10:39] #89 closed, assigned to Aman-Codes

[2020-05-02 10:57] krharsh17 commented on #88
Alright, go ahead!

[2020-05-02 11:09] krharsh17 opened #91 "Fix shadow"
**Describe the bug**
The shadow's controls are completely broken. Either fix their XML attributes and provide proper documentation in the README.md for them or remove the shadows entirely.

[2020-05-02 11:11] krharsh17 opened #92 "Remove redundant toast on click"
**Describe the bug**
A toast "Bar at position x" appears when you click on the bars.

**To Reproduce**
Click on a bar

**Expected behaviour**
No toast should appear

[2020-05-02 11:21] sumanthst24 commented on #92
would like to work on this issue

[2020-05-02 11:22] sumanthst24 commented on #92
Could you assign this issue to me @krharsh17

[2020-05-02 11:30] prince-09 commented on #84
Can I take up this?

[2020-05-02 12:55] spacemonkey1101 commented on #91
would like to work on this.

[2020-05-03 06:30] #88 closed, assigned to spacemonkey1101

[2020-05-03 15:28] sidhuparas commented on #84
@prince-09 Yeah!

[2020-05-05 14:23] spacemonkey1101 commented on #91
Could I change the these files :
Bar.java
BarView.java
BarGroup.java

[2020-05-10 15:23] sidhuparas commented on #92
@sumanthst24 Any update on this?

[2020-05-10 15:23] sidhuparas commented on #91
@spacemonkey1101 I think you can modify any suitable file.

[2020-05-10 15:24] sidhuparas commented on #84
@prince-09 Any update on this?

[2020-05-16 07:22] sidhuparas commented on #92
This is up-for-grabs. @sumanthst24 has some personal issues so if anyone else wants to take it.

[2020-05-16 07:23] sidhuparas commented on #91
@spacemonkey1101 Any update?

[2020-05-16 07:41] Alaska18 commented on #92
I would like to work on this issue.

[2020-05-16 07:42] sidhuparas commented on #92
@Alaska18 Go ahead!

[2020-05-16 14:19] #92 closed, assigned to Alaska18

[2020-05-17 15:03] spacemonkey1101 commented on #91
im actually struggling with it. Maybe im not getting it

[2020-05-18 13:48] sidhuparas commented on #91
@spacemonkey1101 Are you having issue understanding the problem? Or are you not getting how to solve it or update the documentation? Me and @krharsh17 are here to help you out.

[2020-05-19 04:35] spacemonkey1101 commented on #91
yes Im facing an issue...... I tried to modify some files and values to get the bars to the ideal config.....but i failed repeatedly

[2020-05-20 18:52] krharsh17 commented on #91
@rajkothari634 has worked on the shadow, maybe he can help in removing/fixing it?

[2020-05-22 18:16] krharsh17 commented on #10
This has been waiting for too long. It is open for all now.

[2020-05-22 18:19] krharsh17 commented on #49
@LuGO0 If you want to do a quick scan for any constants that might need to be shifted, please do so and share your findings here

[2020-05-22 18:19] krharsh17 commented on #73
@LuGO0 any updates on this?

[2020-05-22 18:20] krharsh17 commented on #84
Our rating is still B. Any updates on this @prince-09 ?

[2020-05-22 18:24] krharsh17 opened #95 "Update the README with all of the customizations available in the library"
A lot of features have been added to the library over the course of GSSoC20. Now it is necessary to document those features properly so that any dev willing to use the library may find it easy to do so.

- [ ] Go through the entire library and make a list of all possible customizations
- [ ] Create a separate section in the README for each customization describing how to use it both through Java &

[2020-05-22 18:53] dino-saurabh commented on #73
Sorry @krharsh17 due to my sems resuming I couldnt do much you can unassign me and assign somebody else for this :(

[2020-05-31 14:45] #13 closed, assigned to parthsharma07

[2020-05-31 18:05] #5 closed, assigned to RaghavAwasthi